<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joshua Gonzalez">
    <meta name="twitter:card" content="<%= asset_path 'blurry.jpg' %>">
    <meta name="twitter:site" content="https://calm-gorge-58619.herokuapp.com/">
    <meta name="twitter:title" content="Joshua Gonzalez - Full Stack Developer">
    <meta name="twitter:description" content="Full Stack Web Developer Portfolio and Blog of Joshua Gonzalez">
    <meta name="twitter:image" content="<%= asset_path 'favicon.png' %>">
    <meta property="og:title" content="Joshua Gonzalez - Full Stack Web Developer">
    <meta property="og:image" content="<%= asset_path 'favicon.png' %>">
    <meta property="og:site_name" content="Joshua Gonzalez's Portfolio">
    <meta property="og:description" content="Full Stack Web Developer Portfolio and Blog of Joshua Gonzalez">
    <title>Joshua Gonzalez - Full Stack Developer</title>
    <link rel="icon" type="image/ico" href="<%= asset_path 'favicon.ico' %>" >
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
      <%= link_to "Joshua Gonzalez", root_path, class: "name" %>
      <nav>
        <%= link_to "Articles", posts_path %>
        <%= link_to "Projects", projects_path %>
        <%= link_to "Contact", new_contact_path %>
        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% end %>
      </nav>
    </header>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
    <footer id="main_footer">
      <p class="copyright"><i class="far fa-copyright"></i> 2018 Joshua Gonzalez</p>
      <nav>
        <a href="https://github.com/catsaremlg" target="_blank"><i class="fab fa-github-alt"></i></a>
        <a href="https://dribbble.com/CatsAreMLG" target="_blank"><i class="fab fa-dribbble"></i></a>
        <a href="https://codepen.io/catsaremlg/" target="_blank"><i class="fab fa-codepen"></i></a>
      </nav>
    </footer>
  </body>
</html>
